github_owner = "your-github-user-or-org"

repository_name        = "example-secure-repository"
repository_description = "Repository description goes here"
repository_visibility  = "private"

required_status_checks = [
  "test-code",
  "test-repo",
  "scan-repo",
]
