# --- Project Configuration ---
# - Do not store any sensitive values/credentials in this file.

PROJECT_NAME='kc-secure-template'
PROJECT_IMAGE="${PROJECT_NAME}:local"

# Optional: Renovate tooling upgrader
# -----------------------------------
# - Self-hosted Renovate can automatically update the versions in `project.cfg` by creating GitHub pull requests
DEV_SCAN_ENABLE_RENOVATE=true

# Base image
# ----------
PROJECT_DOCKERFILE='Dockerfile'

DEV_BASE_IMAGE='debian:trixie-slim'

# renovate: datasource=docker depName=golang versioning=docker
DEV_GO_IMAGE='golang:1.26.2-trixie'

# Security scanners
# -----------------
# renovate: datasource=docker depName=ghcr.io/gitleaks/gitleaks versioning=docker
DEV_SCAN_GITLEAKS_IMAGE='ghcr.io/gitleaks/gitleaks:v8.30.1'

# renovate: datasource=docker depName=rhysd/actionlint versioning=docker
DEV_SCAN_ACTIONLINT_IMAGE='rhysd/actionlint:1.7.12'

# renovate: datasource=docker depName=aquasec/trivy versioning=docker
DEV_SCAN_TRIVY_IMAGE='aquasec/trivy:0.70.0'

# renovate: datasource=docker depName=anchore/syft versioning=docker
DEV_SCAN_SYFT_IMAGE='anchore/syft:v1.42.4'

# renovate: datasource=docker depName=anchore/grype versioning=docker
DEV_SCAN_GRYPE_IMAGE='anchore/grype:v0.111.0'

# Optional Terraform settings
# ---------------------------
# renovate: datasource=docker depName=hashicorp/terraform versioning=docker
DEV_TERRAFORM_IMAGE='hashicorp/terraform:1.14.9'

# renovate: datasource=terraform-provider depName=integrations/github versioning=hashicorp
DEV_TERRAFORM_GITHUB_PROVIDER_VERSION='6.11.1'

# Optional Kubernetes settings
# ----------------------------

K8S_RELEASE_NAME="${PROJECT_NAME}"
K8S_NAME_OVERRIDE="${PROJECT_NAME}"

# - Image repository and tag become the container image the Deployment will run
# - In a real cluster this usually points at a registry path like: `ghcr.io/org/app` plus a release tag
K8S_IMAGE_REPOSITORY="${PROJECT_NAME}"
K8S_IMAGE_TAG='0.1.0'

# Namespace is the Kubernetes "folder" these resources belong to in a cluster.
# - `make k8s` only renders with this value; it does not create the namespace.
K8S_NAMESPACE='default'

# A Helm chart is a package of Kubernetes YAML templates that can be rendered for a specific deployment
K8S_CHART_PATH='config/k8s/chart'
# renovate: datasource=docker depName=alpine/helm versioning=docker
DEV_K8S_HELM_IMAGE='alpine/helm:3.19.0'

# Optional extra values file for environment-specific overrides.
# - In Helm, values files are the usual way to change ports, ingress hosts, resources, and similar deployment settings without editing the templates themselves
K8S_VALUES_FILE=''

# Optional self-hosted Renovate settings
# --------------------------------------
# renovate: datasource=docker depName=renovate/renovate versioning=docker
DEV_RENOVATE_IMAGE='renovate/renovate:43.138.2'

# SHA Checksum Lockfile
# ---------------------
# (The lockfile is updated via `make update`)
. ./config/lockfile.cfg
